<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @post.author_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Published:</strong>
  <%= @post.published %>
</p>

<p>
  <strong>Comments:</strong>
</p>

<%= simple_form_for Comment.new do |f| %>
  <% @captcha.each do |key, value| %>
    <%= hidden_field(:captcha, key, :value => value) %>
  <% end %>

  <%= f.input :content %>
  <p>
    Please fill in the captcha:
    <%= @captcha[:x] %> + <%= @captcha[:y] %> - <%= @captcha[:z] %> =
    <%= number_field(:captcha, :result, :value => '', :min => 100, :max => 999) %>
  </p>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
